.appointment-form-section {
    background-image: url('https://img.freepik.com/premium-photo/portrait-asian-female-doctor-with-cheerful-face-pointing-sideways_296537-191.jpg');
    background-size: 1280px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 750px;
    background-color: rgb(234, 229, 229);
  }
.form-container {
    padding: 32px;
    display:flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin:0px -500px;
    background: linear-gradient(to right, #ECF2FF, #FBFCFF);
}
.form-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
}
.form-title > span {
    position: relative;
}
.form-title span::before {
    content: '';
    position: absolute;
    width: 75%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
/* Form */
.form-content label {
    margin: 0 0 18px 50px;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    letter-spacing: .7px;
}
.form-content label::before {
    content: "*";
    color: red;
    padding: 0 4px 0 0;
}
.form-content label :is(input, select) {
    width: 80%;
    margin: 8px 0;
    padding: 0 12px;
    display: block;
    height: 60px;
    color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    background-color:white;
    outline: transparent;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    letter-spacing: .7px;
}
/* Success Message */
.success-message {
    margin: 20px 0 0 0;
    color: green;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    letter-spacing: .7px;
    line-height: 1.7rem;
}
/* Error Message */
.error-message {
    color: red;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    letter-spacing: .7px;
    line-height: 1.7rem;
}
.legal-footer{
    margin-left: 265px;
    margin-top: 900px;
}
/* Responsive */
@media screen and (max-width: 1000px) {
    .form-container {
        padding: 24px;
    }
    .form-title {
        font-size: 24px;
    }
    .form-content label {
        font-size: 18px;
    }
    .form-content label :is(input, select) {
        font-size: 16px;
    }
    .success-message {
        margin: 12px 0 0 0;
        font-size: 20px;
    }
}
